html{
    margin-left: 20px;
    margin-right: 10px;
}

  body {
    background: #d5e6f0;
    background-size: cover;
  }
  
.studio {
    display: flex;
}

.pw {
    flex: 1;
    margin: 10px;
    border: 2px solid rgb(167, 193, 211);
    border-radius: 5px;
    padding: 10px;
  }

  a:link {
    color: rgb(23, 51, 90);
  }
  
  /* visited link */
  a:visited {
    color: rgb(128, 152, 180);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(249, 45, 178);
  }