*{
    box-sizing: border-box;
}

html{
  cursor: url('../img/cursor2.png'), auto;
}

body {
    background-color: #EBFF00; 
}

a {
    text-decoration: none;
    color: #17151a;
}

  
  h2 {
    position: relative;
    font-family: "bely-display", sans-serif;
    font-weight: 400;
    font-style: normal;
    z-index: 300;
  }

  .center{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 75%;
    left: 43%;
  }

  .start{
    background-color: #69f0c8;
    display: flex;
    justify-content: center; 
    align-items: center;
    color: black;
    border: 3px solid #22A48C;
    border-radius: 40%;
    width: 17vw;
    height: 8vh;
    font-family: "bely-display", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.5rem;
  }
  .start a{
    color: #011f1a;
    animation: saturateAnimation 1s infinite;
  }

  .start a:hover{
    cursor: url('../img/cursor2.png'), auto;
  }


  h2:hover{
      cursor: url('../img/cursor2.png'), auto;
    }


  
  @keyframes saturateAnimation {
    0% { filter: opacity(30%); } 
    50% { filter: opacity(60%); } 
    100% { filter: opacity(90%); } 
  }



  .p2{
    opacity: 0;
  }

  .p3{
    position: absolute;
    top: -10%;
    left: 60%;
    z-index: 320;
  }

  .p4{
    position:absolute;
    top: 10%;
    left: 75%;
    transform: rotate(-90deg);
    z-index: 350;
  }

  .p5{
    position: absolute;
    top: 80%;
    left: 50%;
    z-index: 320;
  }

  .p6{
    position: absolute;
    top: 62%;
    left: 70%;
    z-index: 320;
  }

  .p7{
    position: absolute;
    top: 38%;
    z-index: 350;
  }

  .p8{
    position: absolute;
    top: 5%;
    left: -10%;
    z-index: 320;
  }

  .p9{
    position: absolute;
    top: 20%;
    left: 85%;
    z-index: 320;
  }

  .p10{
    position: absolute;
    top: -2%;
    left: 10%;
    z-index: 320;
  }

.p11{
  position: absolute;
  top: 75%;
  left: 25%;
  z-index: 320;
}

.p12{
  position: absolute;
  top: 55%;
  left: 90%;
  z-index: 320;
}

  #gallery {
    margin-left: 30px;
    -webkit-column-count:5;
    -moz-column-count:5;
    column-count:5;
    
    -webkit-column-gap:20px;
    -moz-column-gap:20px;
    column-gap:20px;
  }
  
  #gallery img {
      max-width:  80%; /* Set the width of each image */
      height: auto;
      margin: 10px 0; /* Add vertical margin */
      box-shadow: -3px 5px 15px #000;
      cursor: pointer;
  }
  
  .question {
    position: relative;
    text-align: center;
    margin-top: 200px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    z-index: 300;
  }
  
  ::selection {
    background: transparent;
  }

 .question:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 0;
    height: 0;
    margin: auto;
    border-radius: 100%;
    background: transparent;
    display: block;
    box-shadow: 0 0 150px 100px #69f0c8,
      200px 0 200px 150px #69f0c8,
      -250px 0 300px 150px #69f0c8,
      550px 0 300px 200px #69f0c8,
      -550px 0 300px 200px #69f0c8;
  }

  h2 {
    cursor: default;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    margin: auto;
    display: block;
    text-align: center;
  }
  
  h2 span {
    position: relative;
    top: 10px;
    padding: 5px;
    display: inline-block;
    font-size: 4.8rem;
    animation: bounce 0.2s ease infinite alternate;
    color: orangered;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
      0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
      0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
  }

  
  h2 span:nth-child(2) {
    animation-delay: 0.1s;
  }
  
  h2 span:nth-child(3) {
    animation-delay: 0.2s;
  }
  
  h2 span:nth-child(4) {
    animation-delay: 0.3s;
  }
  
  h2 span:nth-child(5) {
    animation-delay: 0.4s;
  }
  
  h2 span:nth-child(6) {
    animation-delay: 0.5s;
  }
  
  h2 span:nth-child(7) {
    animation-delay: 0.6s;
  }
  
  h2 span:nth-child(8) {
    animation-delay: 0.2s;
  }
  
  h2 span:nth-child(9) {
    animation-delay: 0.3s;
  }
  
  h2 span:nth-child(10) {
    animation-delay: 0.4s;
  }
  
  h2 span:nth-child(11) {
    animation-delay: 0.5s;
  }
  
  h2 span:nth-child(12) {
    animation-delay: 0.6s;
  }
  
  h2 span:nth-child(13) {
    animation-delay: 0.7s;
  }
  
  h2 span:nth-child(14) {
    animation-delay: 0.8s;
  }
  
  /* ANIMATION */
  @keyframes bounce {
    100% {
      top: -20px;
      text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
        0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc,
        0 50px 25px rgba(0, 0, 0, 0.2);
    }
  }



.about{
  position: absolute;
  top: 0;
  right: 2%;
  z-index: 300;
}

.filter{
  opacity: 0.5;
}

.intro {
  position: absolute;
  top: 50%; /* 设置顶部偏移量为屏幕高度的50% */
  left: 50%; /* 设置左侧偏移量为屏幕宽度的50% */
  transform: translate(-50%, -50%); /* 通过平移来使元素居中 */
  text-align: center;
  border-radius: 20%;
  width: 80vw;
  height: 80vh;
  background-color: orangered;
  box-shadow: 2px 2px 15px 10px orangered;
}


h3 {
  color: white;
  text-align: center;
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 200px;
}

#green{
  color:#69f0c8;
  margin-top: 70px;
}

#green2{
  color:#69f0c8;
  margin-top: 120px;
}



  
@media screen and (max-width: 950px) {
    h2 span  {
          font-size: 3.5rem; /* 较小屏幕下的字体大小 */
      }
    .start{
      font-size: 1rem;
    }
    img{
      max-width: 20%;
      height: auto;
    }
  }

@media screen and (max-width: 768px) {
  h2 span  {
        font-size: 2.5rem; /* 较小屏幕下的字体大小 */
    }
    .start {
      font-size: 0.8rem;
    }
    img{
      max-width: 40%;
      height: auto;
    }
}

@media screen and (max-width: 420px) {
  body{
      background-image: url('bg.png');
      background-size: cover;
  }
  

  img{
    max-width: 50%;
  }

  h2 span  {
        font-size: 1.7rem; /* 较小屏幕下的字体大小 */
    }

    .question{
      position: relative;
      margin-top: 260px;
    }

    .question:before{
      display: none;
    }

    .start{
      font-size: 0.9rem;
      width: 27vw;
      margin-top: -200px;
      z-index: 320;

    }

    .about h4{
      width: 20vw;
      height: 3vh;
      font-size: 0.9rem;
    }


    .p2{
      position: absolute;
      top: 63%;
      left: 58%;
      z-index: 320;
      opacity: 1;
      width: 100px;
    }
  
    .p3{
      display: none;
    }
  
    .p6{
      display: none;
    }
  
    .p7{
      display: none;
    }
  
    .p8{
      display: none;
    }
  
    .p9{
      display: none;
    }
  
    .p10{
      display: none;
    }
  
  .p11{
    display: none;
  }
  
  .p12{
    display: none;
  }

  .intro{
    position: fixed;
  }
  
  h3 {
    color: white;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 130px;
    font-size: 0.7rem;
  }

  #green{
    color:#69f0c8;
    margin-top: -10px;
    font-size: 1rem;
    padding: 40px;
  }
  
  #green2{
    color:#69f0c8;
    padding: 40px;
    font-size: 1rem;
    margin-top: 30px;
  }

  #gallery {
    margin-left: 30px;
    -webkit-column-count:3;
    -moz-column-count:3;
    column-count:3;
    
    -webkit-column-gap:10px;
    -moz-column-gap:10px;
    column-gap:10px;
  }


}



@media (min-width: 1380px) {

  .p3 img{
    height: 300px;
  }

  .p3{
    top: -12%;
  }

  .p6 img{
    height: 400px;
  }

  .p7 img{
    height: 580px;
  }

  .p7{
    top: 24%;
  }

.p8 img{
  height: 300px;
}

  .p8{
    top: 5%;
    left: -4%;
  }

  .p9 img{
    height: 350px;
  }

  .p9{
    top: 15%;
    left: 80%;
  }

  .p10 img{
    height: 240px;
  }

  .p10{
    top: -1%;
    left: 12%;
  }

  .p11 img{
    height: 270px;
  }

.p11{
  top: 70%;
  left: 23%;
}

.p12 img{
  height: 200px;
}

.p12{
  top: 52%;
  left: 87%;
}

.start{
  font-size: 2rem;
}

.question{
  margin-top: 260px;
}

h2 span{
  font-size: 5.5rem;
}

.intro h2{
  font-size: 2.6rem;
}

#green2{
  margin-top: 140px;
}

.intro h3{
  font-size: 1.6rem;
  margin-top: 240px;
  line-height: 1.5;
}

}