html{
    background-image: url("hhl.png");
    font-family: "genica", sans-serif;
    font-style: normal;
}

#bottle {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1000px;
}

#bottle img {
    width: 10%; /* 图片宽度占据父容器的18% */
}


#plant img{
    max-width: 8%;
    height: auto;
    align-self: flex-start;
}

#plant {
    margin-top: -20px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    padding: 0 0 20px 20px;
  }

.Tote {
    width: 800px;
    height: 500px;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
    border: 2px dashed #ccc;
}

.Tote img {
    position: absolute;
    cursor: move;
}


.title{
    width: 100%;
    position: absolute;
    top: 10%;
    left: 24%;
  }

  .tilte span{
    text-transform: uppercase;
    display: block;
  }

  .text1{
    color: yellow;
    font-size: 5rem;
    font-weight: 800;
    letter-spacing: 5px;
    margin-bottom: 20px;
    animation: text 3.5s 1;
    text-shadow: 
        -1px -1px 0 black,  
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black; 
  }

  @keyframes text {
    0%{
      color: #ff6666;
      margin-bottom: -40px;
      text-shadow: 0 0 15px rgb(0, 255, 221);
    }
    30%{
        color: rgb(0, 255, 221);
      letter-spacing: 25px;
      margin-bottom: -40px;
      text-shadow: 0 0 5px #ff6666;
    }
  }
  
  #hand{
    transform: rotate(48deg);
    position: absolute;
    top: 0;
    animation: move 3s infinite;
  }

  @keyframes move{
    0%{
        top: -15%;
    }
    50%{
        top: 0;
    }
    100%{
        top: -15%;
    }
  }

  #succulent{
    position: absolute;
    left: 0;
    top: 3%;
  }

  .intro1{
    position: absolute;
    top: 55%;
    left: 30%;
    transform: rotate(15deg);
  }

  .intro2{
    position: absolute;
    top: 75%;
    left: 60%;
  }

  .intro1 h2{
    color: rgb(39, 241, 214);
    margin-top: -20px;
  }

.intro2 h4{
    width: 330px;
}

.navigation{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    color: white;
    position: fixed;
    right: 4%;
    text-shadow: 0 0 15px #ff6666;
    font-weight: 200;
    letter-spacing: 2px;
}

a{
    text-decoration: none;
    color: white;
    text-shadow: 0 0 15px #ff6666;
    font-weight: 200;
    letter-spacing: 2px;
}
