*{
    background-color: beige;
}


.one{
    position: absolute;
    top: 5%;
    right: 2%;
    width: 2.5%;
    height: 5px;
    background-color: rgb(66, 66, 66);
}

.two{
    position: absolute;
    top: 6%;
    right: 2%;
    width: 2.5%;
    height: 5px;
    background-color: rgb(66, 66, 66);
}

.three{
    position: absolute;
    top: 7%;
    right: 2%;
    width: 2.5%;
    height: 5px;
    background-color: rgb(66, 66, 66);
}