* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    background-size: cover;
  }
  
a{
  background-color: #ff00d0;
  text-decoration: none;
  color:rgb(223, 223, 223);
    font-family: "juniper-std", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a:hover{
  cursor: pointer;
  color: yellow;
}

a :visited{
  color: black;
}

  body {
    position: relative;
    font-family: "Kalam", sans-serif;
    min-height: 100vh;
    overflow-x: hidden；
  }

  main {
    margin-top: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    min-height: 90vh;
    overflow-x: hidden;
  }


  #gallery {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 15px;
    max-width: 80vw;
    padding: 20px;
    -webkit-perspective: 0;
    perspective: 0;
    border: 4px solid #ff00d0; 
  }

  #gallery figure {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: auto;
    aspect-ratio: 1 /1;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    filter: brightness(125%);
    filter: grayscale(10);
    border-radius: 5px;
    overflow: hidden;
    outline: 1px solid transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  h1 {
    color: #ff00d0;
    margin-right: 20px;
    font-family: "juniper-std", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: right;
}


  .entry{
    color:rgb(223, 223, 223);
    margin-top: 30px;
    margin-right: 20px;
    font-family: "juniper-std", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

h3{
color: yellow;
margin-top: -625px;
margin-left: 20px;
padding: 25px;
background-color: #ff00d0;
font-family: "bigmoore", serif;
font-weight: bold;
font-style: italic;
font-size: 30px;
writing-mode: vertical-lr; 
}

.eight{
  margin-top: -430px;
}



h2{
 color: #ff00d0;
 margin-left: -450px;
 font-family: "bigmoore", serif;
font-weight: bold;
}

h5{
    color: yellow;
    font-family: "bigmoore", serif;
font-weight: bold;
font-size: 15px;
margin-left: -400px;
}

p{
    color: #ff00d0;
    margin-left: -420px;
    font-family: "bigmoore", serif;
padding: 10px;
}

.rectangle{
    width: 400px;
    height: 680px;
    background-color: #ff00d0;
}

.rectangle2{
  width: 200px;
  height: 680px;
  background-color: #ff00d0;
}

.rectangle3{
  width: 1200px;
  height: 140px;
  margin-top: -100px;
  background-color: #ff00d0;
}

img{
margin-top: 100px;
margin-left: 115px;
filter: brightness(115%);
box-shadow: 0 5px 25px rgba(0, 0, 0, 1);
}

#alt{
    color: rgb(223, 223, 223);
    background-color: #ff00d0;
    font-family: "bigmoore", serif;
    font-weight: bold;
    margin-top: 25px;
    margin-left: 115px;
    width: 200px;
}

#alt2{
  color: rgb(223, 223, 223);
  font-family: "bigmoore", serif;
  font-weight: bold;
  margin-top: 25px;
  margin-left: 115px;
  width: 300px;
}

#body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#body8 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;
}

#body13{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 160px;
}

.date{
    margin-top: 100px;
    margin-left: 760px;
}

.energy{
  margin-top: 260px;
    margin-left: -300px;
}

.mood{
    margin-top: 530px;
}

.date2{
  margin-top: 420px;
margin-left: 160px;
}

.energy2{
  margin-left: -200px;
}

.mood2{
  margin-top: 80px;
}

.img2{
  margin-top: 120px;
  margin-left: 480px;
}

.date3{
  margin-top: 60px;
  margin-left: 680px;
}

.energy3{
  margin-top: 200px;
  margin-left: -150px;
}

.mood3{
  margin-top: 500px;
}

.date4{
  margin-top: 260px;
  margin-left: 650px;
}

.energy4{
  margin-top: 400px;

}

.mood4{
  margin-top: 100px;
}

.date5{
  margin-top: 100px;
  margin-left: 560px;
}

.energy5{
  margin-top: 240px;
  margin-left: -100px;
}

.date8{
  margin-left: 520px;
}

.energy8{
  margin-left: 80px;
}

.date11{
  margin-left: 700px;
  margin-top: 100px;
}

.energy11{
  margin-left: -25px;
  margin-top: 200px;
}

.img3{
  margin-left: 115px;
  filter: brightness(115%);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 1);
  }

.img5{
  margin-left: -215px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 1);
}

 .img8{
  margin-left: 315px;
  filter: brightness(115%);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 1);
}

#fu{
  margin-top: 50px;
}

.box1{
    width: 40px;
    height: 18px;
    background-color: #ff00d0;
    margin-left: -420px;
    margin-top: 20px;
   
}

.box2{
    width: 40px;
    height: 18px;
    background-color: black;
    border: 1px solid #ff00d0;
    margin-left: -420px;
    margin-top: 20px;
    animation: saturateAnimation 1s infinite;
}

@keyframes saturateAnimation {
  0% { filter: saturate(10%); } 
  50% { filter: saturate(100%); } 
  100% { filter: saturate(10%); } 
}

.emoji{
    display: flex;
    gap: 10px;
    padding: 10px;
    margin-top: 20px;
}

.first2{
    font-size: 3em;
    filter: grayscale(100%);
    transition: filter 450ms ease;
    margin-left: -210px;
    
  }
  
  .first2:is(:hover, :focus) {
    filter: grayscale(0%) drop-shadow(0 8px 8px rgba(0, 0, 0, 0.5));
  }

  .first{
    font-size: 3em;
    filter: grayscale(100%);
    transition: filter 450ms ease;
    margin-left: -240px;
    
  }
  
  .first:is(:hover, :focus) {
    filter: grayscale(0%) drop-shadow(0 8px 8px rgba(0, 0, 0, 0.5));
  }

  .second{
    font-size: 3em;
    filter: grayscale(100%);
    transition: filter 450ms ease;
  }

  .second:is(:hover, :focus) {
    filter: grayscale(0%) drop-shadow(0 8px 8px rgba(0, 0, 0, 0.5));
  }

  .third{
    font-size: 3em;
    filter: grayscale(100%);
    transition: filter 450ms ease;
  }

  .third:is(:hover, :focus) {
    filter: grayscale(0%) drop-shadow(0 8px 8px rgba(0, 0, 0, 0.5));
  }

  .first3{
    font-size: 3em;
    filter: grayscale(100%);
    transition: filter 450ms ease;
    margin-left: -240px;
    background-color: #ff00d0;
    
  }
  
  .first3:is(:hover, :focus) {
    filter: grayscale(0%) drop-shadow(0 8px 8px rgba(0, 0, 0, 0.5));
  }

  .second3{
    font-size: 3em;
    filter: grayscale(100%);
    transition: filter 450ms ease;
    background-color: #ff00d0;
  }

  .second3:is(:hover, :focus) {
    filter: grayscale(0%) drop-shadow(0 8px 8px rgba(0, 0, 0, 0.5));
  }

  .third3{
    font-size: 3em;
    filter: grayscale(100%);
    transition: filter 450ms ease;
    background-color: #ff00d0;
  }

  .third3:is(:hover, :focus) {
    filter: grayscale(0%) drop-shadow(0 8px 8px rgba(0, 0, 0, 0.5));
  }