html{
	background-attachment: fixed;
	background-size: cover;
}
  

body {
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}



.Container {
	width: 80%;
	overflow: auto;
	box-sizing: border-box;
}

h1{
	font-size: 5rem;
	font-family: "quasimoda", sans-serif;
	font-weight: 700;
	font-style: normal;
	margin-bottom: 10px;
}

.Whole{
	animation-name: wave;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

@keyframes wave {
	0% {letter-spacing: normal;}
    50% {letter-spacing: 1.5px;}
    100% {letter-spacing: normal;}
  }

  h2,h3,h4{
	font-family: "quasimoda", sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 0.8;
  }


#intro{
	position: absolute;
	top: 140%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

#intro2{
	position: absolute;
	top: 140%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	opacity: 0;
}

p{
	font-size: x-large;
	font-family: "quasimoda", sans-serif;
	font-weight: 400;
	font-style: normal;
	display: flex;
	justify-content: center;
  }


.button {
	cursor: pointer;
	border: none;
	color: black;
	transition-duration: 0.4s;
	overflow: hidden;
	border-radius: 50%;
	font-family: "quasimoda", sans-serif;
	font-weight: 700;
	font-style: normal;
	position: absolute;
	opacity: 0.6;
	width: 20%;
  }
  
  .button:hover {
	box-shadow: 0px 2px 10px 5px #6fddff;
	color: #000;
	opacity: 1;
  }
  
  .button:after {
	content: "";
	background: #afe9f9;
	display: block;
	position: absolute;
	padding-top: 300%;
	padding-left: 350%;
	margin-left: -20px !important;
	margin-top: -120%;
	opacity: 0;
	transition: all 0.8s;
  }
  
  .button:active:after {
	padding: 0;
	margin: 0;
	opacity: 1;
	transition: 0s;
  }
  
  .button:focus {
	outline: 0;
  }
  
  #b1{
	left: 10%;
	top: 235%;
	animation: b1 infinite;
  }

  @keyframes b1{
	0% {
		top: 213%;
	}
	50%{
		top: 227%;
	}
	100%{
		top: 213%;
	}
  }

  #b2{
	left: 40%;
	top: 220%;
	animation: b2 infinite;
  }

@keyframes b2{
	0%{
		top: 222%;
	}
	50%{
		top: 208%;
	}
	100%{
		top: 222%;
	}
}

  #b3{
	left: 70%;
	top: 230%;
	animation: b3 infinite;
  }

  @keyframes b3{
	0%{
		top:218%;
	}
	50%{
		top: 232%;
	}
	100%{
		top: 218%;
	}
  }

#free{
	position: absolute;
	top: 420%;
}

#free2{
	opacity: 0;
}

#welcome{
	position: absolute;
	top: 435%;
	left: 70%;
	margin-top: 10px;
	font-size: large;
}

#welcome h2{
	font-family: "quasimoda", sans-serif;
	font-weight: 1000;
	font-style: normal;
}

.apply{
	position: absolute;
	top: 470%;
	color: black;
	font-family: "quasimoda", sans-serif;
	font-weight: 700;
	font-style: normal;
	left: 45%;
	letter-spacing: 1px;
}

#apply{
	position: absolute;
	top: 472%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#arrow{
	position: absolute;
	top: 437%;
	left: 10%;
	transform: rotate(160deg);
}

#circle{
	width: 40px;
	height: 40px;
	/*box-shadow: 0 5px 15px #b1c7fc;*/
	border-radius: 50%;
	margin-top: 5px;
}

.contributor{
	position: absolute;
	top: 520%;
}

#info h3{
	font-family: "quasimoda-2", sans-serif;
font-weight: 600;
font-style: normal;
}

#info h4{
	margin-top: -10px;
}

.one{
	display: flex;
	gap: 40px;
	margin-left: 100px;
}

.one1{
	opacity: 0;
}

.two{
	display: flex;
	gap: 40px;
	margin-left: 140px;
	margin-top: -220px;
}

.two1{
	opacity: 0;
}

.three{
	display: flex;
	gap: 40px;
	margin-left: 80px;
	margin-top: -200px;
}

.three1{
	opacity: 0;
}

.four{
	display: flex;
	gap: 40px;
	margin-left: 60px;
	margin-top: -250px;
}

.four1{
	opacity: 0;
}

.five{
	display: flex;
	gap: 40px;
	margin-left: 170px;
	margin-top: -190px;
}

.five1{
	opacity: 0;
}

.six{
	display: flex;
	gap: 40px;
	margin-left: 150px;
	margin-top: -190px;
}

.six1{
	opacity: 0;
}

.seven{
	display: flex;
	gap: 40px;
	margin-left: 200px;
	margin-top: -280px;
}

.seven1{
	opacity: 0;
}

a {
	text-decoration: none;
}

#Layer_1{
	position: absolute;
	top: 58%;
	right: 7%;
	width: 600px;
}

#Layer_2{
	opacity: 0.4;
	position: absolute;
	top: 67%;
	left: 16%;
}

h5{
	font-family: "quasimoda", sans-serif;
	font-weight: 600;
	font-style: normal;
	line-height: 0.8;
	opacity: 0.4;
}

#location{
	position: absolute;
	top: 70%;
}

#location1{
	position: absolute;
	top: 72%;
}

#location2{
	position: absolute;
	top: 77%;
	left: 27%;
}

#location3{
	position: absolute;
	top: 90%;
	left: 25%;
}


#Layer_3{
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	top: 350%;
}

h4{
	line-height: 0.5;
	letter-spacing: 1px;
	width: 100%;
}



#time1{
	position: absolute;
	font-size: x-large;
	font-family: "quasimoda", sans-serif;
	font-weight: 800;
	font-style: normal;
	top: 340%;
	left: 14%;
	animation: move infinite;
}

@keyframes move {
	0% {letter-spacing: normal;}
    50% {letter-spacing: 3px;}
    100% {letter-spacing: normal;}
  }


#des1 {
	position: absolute;
	top: 375%;
	left: 12%;
}

#line1{
	position: absolute;
	top: 352%;
	left: 15.7%;
	width: 2px;
	height: 150px;
	background-color: #fff;
}

#dot1{
	position: absolute;
	top: 350%;
	left: 15%;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #fff;
}


#time2{
	position: absolute;
	font-size: x-large;
	font-family: "quasimoda", sans-serif;
	font-weight: 800;
	font-style: normal;
	top: 340%;
	left: 24%;
	animation: move infinite;
}

@keyframes move {
	0% {letter-spacing: normal;}
    50% {letter-spacing: 3px;}
    100% {letter-spacing: normal;}
  }

#des2 {
	position: absolute;
	top: 375%;
	left: 23%;
}

#line2{
	position: absolute;
	top: 352%;
	left: 25.7%;
	width: 2px;
	height: 150px;
	background-color: #fff;
}

#dot2{
	position: absolute;
	top: 350.5%;
	left: 25%;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #fff;
}


#time3{
	position: absolute;
	font-size: x-large;
	font-family: "quasimoda", sans-serif;
	font-weight: 800;
	font-style: normal;
	top: 357%;
	left: 44%;
	animation: move infinite;
}

@keyframes move {
	0% {letter-spacing: normal;}
    50% {letter-spacing: 3px;}
    100% {letter-spacing: normal;}
  }

#des3 {
	position: absolute;
	top: 315%;
	left: 42%;
}

#line3{
	position: absolute;
	top: 334%;
	left: 45.7%;
	width: 2px;
	height: 120px;
	background-color: #fff;
}

#dot3{
	position: absolute;
	top: 350%;
	left: 45%;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #fff;
}

#time4{
	position: absolute;
	font-size: x-large;
	font-family: "quasimoda", sans-serif;
	font-weight: 800;
	font-style: normal;
	top: 337%;
	left: 54%;
	animation: move infinite;
}

@keyframes move {
	0% {letter-spacing: normal;}
    50% {letter-spacing: 3px;}
    100% {letter-spacing: normal;}
  }

#des4 {
	position: absolute;
	top: 375%;
	left: 53%;
}

#line4{
	position: absolute;
	top: 348%;
	left: 55.7%;
	width: 2px;
	height: 180px;
	background-color: #fff;
}

#dot4{
	position: absolute;
	top: 348%;
	left: 55%;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #fff;
}

#time5{
	position: absolute;
	font-size: x-large;
	font-family: "quasimoda", sans-serif;
	font-weight: 800;
	font-style: normal;
	top: 336%;
	left: 74%;
	animation: move infinite;
}

@keyframes move {
	0% {letter-spacing: normal;}
    50% {letter-spacing: 3px;}
    100% {letter-spacing: normal;}
  }

#des5 {
	position: absolute;
	top: 375%;
	left: 73%;
}

#line5{
	position: absolute;
	top: 347%;
	left: 75.7%;
	width: 2px;
	height: 190px;
	background-color: #fff;
}

#dot5{
	position: absolute;
	top: 346.5%;
	left: 75%;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #fff;
}



#arrow1{
	position: absolute;
	top: 42%;
	right: 20%;
}

#lp {
	position: absolute;
	top: 35%;
	right: 10%;
}

.end{
	position: absolute;
	top: 750%;
}

.end1{
	opacity: 0;
}

#cloud{
	position: absolute;
	top: 715%;
	right: 10%;
}

#end{
	position: absolute;
	top: 770%;
	left: 0;
	right: 0;
}

#earth{
	width: 25%;
	position: absolute;
	top: 480%;
	right: 0;
	opacity: 0.8;
}

#s-leaf{
	width: 25%;
	position: absolute;
	top: 153%;
	left: 3%;
}

#leaf{
	width: 20%;
	position: absolute;
	top: 160%;
	right: 5%;
}

#curve{
	position: absolute;
	top: 260%;
	width: 100%;
	left: 50%; 
    transform: translateX(-50%);
}










@media (max-width: 950px) {
	h1{
		font-size: 3rem;
	}

	.time{
		font-size: 0.7rem;
	}

	#Layer_1{
		top: 70%;
		width: 90%;
	}

	#arrow1{
		width: 15%;
		top: 55%;
		right: 32%;
	}

	#lp{
		top: 55%;
		right: 5%;
		font-size: 0.6rem;
	}

	#intro2 p{
		font-size: 1rem;
	}

	#intro{
		opacity: 0;
	}

	#intro2{
		top: 140%;
		opacity: 1;
	}

	#Layer_2{
		top: 185%;
		width: 70%;
		opacity: 1;
	}

	.map {
		font-size: small;
	}

	#location{
		top: 176%;
		opacity: 1;
	}

	#location1{
		top: 178.5%;
		opacity: 1;
	}

	#location2{
		top: 193%;
		left: 50%;
		opacity: 1;
	}

	#location3{
		top: 208%;
		left: 50%;
		opacity: 1;
	}

	#s-leaf{
		top: 105%;
		width: 30%;
	}

	#leaf{
		top: 163%;
	}

	.button{
		width: 25%;
	}

	#b1{
		left: 10%;
		top: 250%;
		animation: b1 infinite;
	  }
	
	  @keyframes b1{
		0% {
			top: 228%;
		}
		50%{
			top: 242%;
		}
		100%{
			top: 228%;
		}
	  }
	
	  #b2{
		left: 40%;
		top: 235%;
		animation: b2 infinite;
	  }
	
	@keyframes b2{
		0%{
			top: 237%;
		}
		50%{
			top: 223%;
		}
		100%{
			top: 237%;
		}
	}
	
	  #b3{
		left: 70%;
		top: 245%;
		animation: b3 infinite;
	  }
	
	  @keyframes b3{
		0%{
			top:233%;
		}
		50%{
			top: 247%;
		}
		100%{
			top: 233%;
		}
	  }

 #Layer_3{
	top: 321%;
}

 h4{
	font-size: small;
	line-height: 0.3px;
}

#time1{
	font-size: large;
	top: 307%;
	left: 10%;
}

#des1 {
	top: 360%;
}

#line1{
	top: 322%;
	width: 1.5px;
	height: 245px;
}

#dot1{
	top: 320%;
	left: 14%;
	width: 15px;
	height: 15px;
}


#time2{
	font-size: large;
	top: 312%;
}

#des2 {
	top: 345%;
}

#line2{
	top: 322%;
	width: 1.5px;
	height: 145px;
}

#dot2{
	top: 320.5%;
	left: 24%;
	width: 15px;
	height: 15px;
}


#time3{
	font-size: large;
	top: 327%;
	left: 40%;
}


#des3 {
	top: 285%;
}

#line3{
	top: 298%;
	width: 1.5px;
	height: 155px;
}

#dot3{
	top: 320%;
	left: 44%;
	width: 15px;
	height: 15px;
}

#time4{
	font-size: large;
	top: 310%;
	left: 54%;
}

#des4 {
	position: absolute;
	top: 350%;
	left: 52%;
}

#line4{
	top: 321%;
	left: 55%;
	width: 1.5px;
}

#dot4{
	top: 319.5%;
	left: 53.5%;
	width: 15px;
	height: 15px;
}

#time5{
	font-size: large;
	top: 306%;
}

#des5 {
	position: absolute;
	top: 340%;
	left: 73%;
}

#line5{
	top: 321%;
	left: 75.7%;
	width: 2px;
	height: 115px;
}

#dot5{
	top: 319%;
	left: 74%;
	width: 15px;
	height: 15px;
}

#free{
	opacity: 0;
}

#free2{
	position: absolute;
	top: 390%;
	font-size: small;
	opacity: 1;
}

#free2 h3{
	line-height: 0.3;
}

#welcome{
	top: 420%;
	left: 20%;
}

#welcome h2{
	font-size: 1.5rem;
}

#apply{
	top: 460%;
	width: 60%;
	left: 50%;
}

.apply{
	top:458%;
	font-size: small;
	left: 36%;
}

#arrow{
	top: 443%;
}


.contributor{
	position: absolute;
	top: 470%;
	left: 5%;
}

.contributor h3{
	line-height: 0.3;
}

#info h4{
	margin-top: 10px;
	font-size: 0.6rem;
}

.one{
	opacity: 0;
}

.one1{
	display: flex;
	gap: 40px;
	margin-left: 10px;
	opacity: 1;
	margin-top: 30px;
}

.two{
	opacity: 0;
}

.two1{
	display: flex;
	gap: 40px;
	margin-left: 14px;
	opacity: 1;
	margin-top: 80px;
}

.three{
	opacity: 0;
}

.three1{
	display: flex;
	gap: 40px;
	margin-left: 70px;
	opacity: 1;
	margin-top: 60px;
}

.four{
	opacity: 0;
}

.four1{
	display: flex;
	gap: 40px;
	margin-left: 50px;
	opacity: 1;
	margin-top: 120px;
}

.five{
	opacity: 0;
}

.five1{
	display: flex;
	gap: 40px;
	margin-left: 10px;
	opacity: 1;
	margin-top: 60px;
}

.six{
	opacity: 0;
}

.six1{
	display: flex;
	gap: 40px;
	margin-left: 50px;
	opacity: 1;
	margin-top: 20px;
}

.seven{
	opacity: 0;
}

.seven1{
	display: flex;
	gap: 40px;
	margin-left: 30px;
	opacity: 1;
	margin-top: 120px;
}

#cloud{
	width: 50%;
	left: 40%;
	top: 695%;
}

.end{
	opacity: 0;
}

.end1{
	position: absolute;
	top: 725%;
	opacity: 1;
}

.end1 h3{
	font-size: small;
	line-height: 0.5;
}

#end{
	top: 755%;
}

#earth{
	top: 470%;
	width: 30%;
}

}




@media (min-width: 1380px) {
	h1{
		font-size: 6.6rem;
	}

	.time{
		font-size: 1.5rem;
	}

	#Layer_1{
		top: 50%;
		width: 50%;
		right: 8%;
	}

	#arrow1{
		width: 55%;
		top: 40%;
		right: -2%;
	}

	#lp{
		top: 32%;
		right: 14%;
		font-size: 1.2rem;
	}

	#intro p{
		font-size: xx-large;
	}

	#Layer_2{
		width: 25%;
		left: 10%;
	}

	.map {
		font-size: large;
	}

	#location{
		top: 59%;
	}

	#location1{
		top: 61%;
	}

	#location2{
		top: 75%;
		left: 22%;
	}

	#location3{
		top: 91%;
		left: 20%;
	}

	#Layer_3{
		width: 100%;
		top: 340%;
	}

	h4{
		font-size: x-large;
		line-height: 0.3px;
	}
	
	#time1{
		font-size: xxx-large;
		top: 330%;
		left: 10%;
	}
	
	#des1 {
		top: 365%;
		left: 8%;
	}
	
	#line1{
		top: 342%;
		left: 13%;
		width: 3px;
		height: 245px;
	}
	
	#dot1{
		top: 340%;
		left: 12.3%;
		width: 30px;
		height: 30px;
	}
	
	
	#time2{
		font-size: xxx-large;
		top: 332%;
		left: 23%;
	}
	
	#des2 {
		top: 365%;
		left: 22%;
	}
	
	#line2{
		top: 342%;
		left: 25%;
		width: 3px;
		height: 245px;
	}
	
	#dot2{
		top: 340.6%;
		left: 24.3%;
		width: 30px;
		height: 30px;
	}
	
	
	#time3{
		font-size: xxx-large;
		top: 347%;
		left: 45.5%;
	}
	
	
	#des3 {
		top: 305%;
		left: 44%;
	}
	
	#line3{
		top: 320%;
		left: 48%;
		width: 3px;
		height: 235px;
	}
	
	#dot3{
		top: 339.5%;
		left: 47.3%;
		width: 30px;
		height: 30px;
	}
	
	#time4{
		font-size: xxx-large;
		top: 326%;
		left: 58.5%;
	}
	
	#des4 {
		position: absolute;
		top: 365%;
		left: 59%;
	}
	
	#line4{
		top: 339%;
		left: 61%;
		width: 3px;
		height: 270px;
	}
	
	#dot4{
		top: 337%;
		left: 60.3%;
		width: 30px;
		height: 30px;
	}
	
	#time5{
		font-size: xxx-large;
		top: 327%;
		left: 81%;
	}
	
	#des5 {
		position: absolute;
		top: 365%;
		left: 81%;
	}
	
	#line5{
		top: 339%;
		left: 84%;
		width: 3px;
		height: 265px;
	}
	
	#dot5{
		top: 338%;
		left: 83.3%;
		width: 30px;
		height: 30px;
	}

	#free{
		top: 405%;
	}

	#free h3{
		font-size: xx-large;
	}

	#welcome{
		top: 435%;
		left: 60%;
	}

	#welcome h2{
		font-size: xxx-large;
	}

	#apply{
		top: 480%;
	}

	.apply{
		top: 478%;
		font-size: x-large;
	}

	.contributor h3{
		font-size: xx-large;
	}

	.contributor h4{
		font-size: x-large;
		line-height: 0.7;
	}

	.one{
		margin-top: -100px;
	}

	.two{
		margin-top: -360px;
	}

	.three{
		margin-top: -300px;
	}

	.four{
		margin-top: -390px;
	}

	.five{
		margin-top: -290px;
	}

	.six{
		margin-top: -270px;
	}

	.seven{
		margin-top: -450px;
	}

	#cloud{
		top: 710%;
		width: 30%;
	}

	.end h3{
		font-size: xx-large;
	}
}