html{
	background-attachment: fixed;
	background-size: cover;
}
  

body {
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}



.Container {
	width: 80%;
	overflow: auto;
	box-sizing: border-box;
}

h1{
	font-size: 5rem;
	font-family: "quasimoda", sans-serif;
	font-weight: 700;
	font-style: normal;
	margin-bottom: 10px;
}

.Whole{
	animation-name: wave;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

@keyframes wave {
	0% {letter-spacing: normal;}
    50% {letter-spacing: 1.5px;}
    100% {letter-spacing: normal;}
  }

  h2,h3,h4{
	font-family: "quasimoda", sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 0.8;
  }


#intro{
	position: absolute;
	top: 140%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

p{
	font-size: x-large;
	font-family: "quasimoda", sans-serif;
	font-weight: 400;
	font-style: normal;
	display: flex;
	justify-content: center;
  }


.button {
	cursor: pointer;
	border: none;
	color: black;
	transition-duration: 0.4s;
	overflow: hidden;
	border-radius: 50%;
	font-family: "quasimoda", sans-serif;
	font-weight: 700;
	font-style: normal;
	position: absolute;
	opacity: 0.6;
	width: 20%;
  }
  
  .button:hover {
	box-shadow: 0px 2px 10px 5px #6fddff;
	color: #000;
	opacity: 1;
  }
  
  .button:after {
	content: "";
	background: #afe9f9;
	display: block;
	position: absolute;
	padding-top: 300%;
	padding-left: 350%;
	margin-left: -20px !important;
	margin-top: -120%;
	opacity: 0;
	transition: all 0.8s;
  }
  
  .button:active:after {
	padding: 0;
	margin: 0;
	opacity: 1;
	transition: 0s;
  }
  
  .button:focus {
	outline: 0;
  }
  
  #b1{
	left: 10%;
	top: 235%;
	animation: b1 infinite;
  }

  @keyframes b1{
	0% {
		top: 213%;
	}
	50%{
		top: 227%;
	}
	100%{
		top: 213%;
	}
  }

  #b2{
	left: 40%;
	top: 220%;
	animation: b2 infinite;
  }

@keyframes b2{
	0%{
		top: 222%;
	}
	50%{
		top: 208%;
	}
	100%{
		top: 222%;
	}
}

  #b3{
	left: 70%;
	top: 230%;
	animation: b3 infinite;
  }

  @keyframes b3{
	0%{
		top:218%;
	}
	50%{
		top: 232%;
	}
	100%{
		top: 218%;
	}
  }

#free{
	position: absolute;
	top: 420%;
}

#welcome{
	position: absolute;
	top: 435%;
	left: 70%;
	margin-top: 10px;
	font-size: large;
}

#welcome h2{
	font-family: "quasimoda", sans-serif;
	font-weight: 1000;
	font-style: normal;
}

.apply{
	position: absolute;
	top: 470%;
	color: black;
	font-family: "quasimoda", sans-serif;
	font-weight: 700;
	font-style: normal;
	left: 45%;
	letter-spacing: 1px;
}

#apply{
	position: absolute;
	top: 472%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#arrow{
	position: absolute;
	top: 437%;
	left: 10%;
	transform: rotate(160deg);
}

#circle{
	width: 40px;
	height: 40px;
	/*box-shadow: 0 5px 15px #b1c7fc;*/
	border-radius: 50%;
	margin-top: 5px;
}

.contributor{
	position: absolute;
	top: 520%;
}

#info h3{
	font-family: "quasimoda-2", sans-serif;
font-weight: 600;
font-style: normal;
}

#info h4{
	margin-top: -10px;
}

.one{
	display: flex;
	gap: 40px;
	margin-left: 100px;
}

.two{
	display: flex;
	gap: 40px;
	margin-left: 140px;
}

.three{
	display: flex;
	gap: 40px;
	margin-left: 80px;
}

.four{
	display: flex;
	gap: 40px;
	margin-left: 60px;
}

.five{
	display: flex;
	gap: 40px;
	margin-left: 170px;
}

.six{
	display: flex;
	gap: 40px;
	margin-left: 150px;
}

.seven{
	display: flex;
	gap: 40px;
	margin-left: 200px;
}

a {
	text-decoration: none;
}

#Layer_1{
	position: absolute;
	top: 58%;
	right: 7%;
}

#Layer_2{
	opacity: 0.4;
	position: absolute;
	top: 67%;
	left: 16%;
}

h5{
	font-family: "quasimoda", sans-serif;
	font-weight: 600;
	font-style: normal;
	line-height: 0.8;
	opacity: 0.4;
}

#location{
	position: absolute;
	top: 70%;
}

#location1{
	position: absolute;
	top: 72%;
}

#location2{
	position: absolute;
	top: 77%;
	left: 27%;
}

#location3{
	position: absolute;
	top: 90%;
	left: 25%;
}


#Layer_3{
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	top: 350%;
}

h4{
	line-height: 0.5;
	letter-spacing: 1px;
	width: 100%;
}



#time1{
	position: absolute;
	font-size: x-large;
	font-family: "quasimoda", sans-serif;
	font-weight: 800;
	font-style: normal;
	top: 340%;
	left: 14%;
	animation: move infinite;
}

@keyframes move {
	0% {letter-spacing: normal;}
    50% {letter-spacing: 3px;}
    100% {letter-spacing: normal;}
  }


#des1 {
	position: absolute;
	top: 375%;
	left: 12%;
}

#line1{
	position: absolute;
	top: 352%;
	left: 15.7%;
	width: 2px;
	height: 150px;
	background-color: #fff;
}

#dot1{
	position: absolute;
	top: 350%;
	left: 15%;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #fff;
}


#time2{
	position: absolute;
	font-size: x-large;
	font-family: "quasimoda", sans-serif;
	font-weight: 800;
	font-style: normal;
	top: 340%;
	left: 24%;
	animation: move infinite;
}

@keyframes move {
	0% {letter-spacing: normal;}
    50% {letter-spacing: 3px;}
    100% {letter-spacing: normal;}
  }

#des2 {
	position: absolute;
	top: 375%;
	left: 23%;
}

#line2{
	position: absolute;
	top: 352%;
	left: 25.7%;
	width: 2px;
	height: 150px;
	background-color: #fff;
}

#dot2{
	position: absolute;
	top: 350.5%;
	left: 25%;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #fff;
}


#time3{
	position: absolute;
	font-size: x-large;
	font-family: "quasimoda", sans-serif;
	font-weight: 800;
	font-style: normal;
	top: 357%;
	left: 44%;
	animation: move infinite;
}

@keyframes move {
	0% {letter-spacing: normal;}
    50% {letter-spacing: 3px;}
    100% {letter-spacing: normal;}
  }

#des3 {
	position: absolute;
	top: 315%;
	left: 42%;
}

#line3{
	position: absolute;
	top: 334%;
	left: 45.7%;
	width: 2px;
	height: 120px;
	background-color: #fff;
}

#dot3{
	position: absolute;
	top: 350%;
	left: 45%;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #fff;
}

#time4{
	position: absolute;
	font-size: x-large;
	font-family: "quasimoda", sans-serif;
	font-weight: 800;
	font-style: normal;
	top: 337%;
	left: 54%;
	animation: move infinite;
}

@keyframes move {
	0% {letter-spacing: normal;}
    50% {letter-spacing: 3px;}
    100% {letter-spacing: normal;}
  }

#des4 {
	position: absolute;
	top: 375%;
	left: 53%;
}

#line4{
	position: absolute;
	top: 348%;
	left: 55.7%;
	width: 2px;
	height: 180px;
	background-color: #fff;
}

#dot4{
	position: absolute;
	top: 348%;
	left: 55%;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #fff;
}

#time5{
	position: absolute;
	font-size: x-large;
	font-family: "quasimoda", sans-serif;
	font-weight: 800;
	font-style: normal;
	top: 336%;
	left: 74%;
	animation: move infinite;
}

@keyframes move {
	0% {letter-spacing: normal;}
    50% {letter-spacing: 3px;}
    100% {letter-spacing: normal;}
  }

#des5 {
	position: absolute;
	top: 375%;
	left: 73%;
}

#line5{
	position: absolute;
	top: 347%;
	left: 75.7%;
	width: 2px;
	height: 190px;
	background-color: #fff;
}

#dot5{
	position: absolute;
	top: 346.5%;
	left: 75%;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #fff;
}

#time6{
	position: absolute;
	font-size: 4rem;
	font-family: "quasimoda", sans-serif;
	font-weight: 800;
	font-style: normal;
	top: 355%;
	left: 83%;
	animation: move infinite;
}

@keyframes move {
	0% {letter-spacing: normal;}
    50% {letter-spacing: 3px;}
    100% {letter-spacing: normal;}
  }

#arrow1{
	position: absolute;
	top: 42%;
	right: 20%;
}

#lp {
	position: absolute;
	top: 35%;
	right: 10%;
}

.end{
	position: absolute;
	top: 750%;
}

#cloud{
	position: absolute;
	top: 715%;
	right: 10%;
}

#end{
	position: absolute;
	top: 770%;
	left: 0;
	right: 0;

}

#earth{
	width: 25%;
	position: absolute;
	top: 480%;
	right: 0;
	opacity: 0.8;
}

#s-leaf{
	width: 25%;
	position: absolute;
	top: 153%;
	left: 3%;
}

#leaf{
	width: 20%;
	position: absolute;
	top: 160%;
	right: 5%;
}

#curve{
	position: absolute;
	top: 260%;
	width: 100%;
	left: 50%; 
    transform: translateX(-50%);
}