html {
    color: rgb(0, 40, 217);
    background-color: rgb(208, 225, 240);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.Header-title{
    font-family: "bungee", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    text-shadow: 2px 2px 5px rgb(110, 150, 181);
}
/* unvisited link */
a:link {
    color: rgb(0, 40, 217);
  }
  
  /* visited link */
a:visited {
    color: rgb(244, 131, 1);
  }
  
  /* mouse over link */
a:hover {
    color: rgb(249, 45, 178);
  }
  

summary{
    font-family: "eight", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-top: -60px;
}

li{
    font-family: "stratum-1-web", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
}

.Page{
    margin-left: 20px;
}

.Page-header{
    font-family: "eight", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-top: -20px;
    margin-left: 20px;
}

.Fieldset--section{
    font-family: "stratum-1-web", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px; 
    display: flex;
    border: 2px solid rgb(167, 193, 211);
    border-radius: 10px;
    padding: 10px;
    max-width: 600px; /* Set a maximum width if needed */
    margin: auto;
    margin-top: -75px;
    position: relative;
}

.Calendar-weekHeader{
    font-family: "eight", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;

}

.Calendar-weekBody {
    display: flex;
  }
  
  .Calendar-class {
    flex: 1;
    margin: 10px;
    border: 2px solid rgb(167, 193, 211);
    border-radius: 5px;
    padding: 10px;
  }

.Footer{
    box-shadow: 10px 10px 5px rgb(167, 193, 211);
    width: 600px;
    margin-left:auto;
    margin-right: auto;
}

.Calendar-class{
    font-family: "eight", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

.Fieldset-header{
    font-family: "stratum-1-web", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}

.Fieldset--stylesheet{
    margin: 10px;
    border: 2px solid rgb(167, 193, 211);
    border-radius: 5px;
    padding: 10px;
}

.Header{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(227, 239, 248);
    width: 80%;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}

.Nav{
    margin-right: 20px;
    margin-top: 150px;
}

.Nav-item{
    width: 130px;
    height: 35px;
    border-color: blue;
    border-radius: 5px;
    border-style: solid; /* Add border style */
    border-width: 1.5px;
    padding: 5px;
    font-size: 17px;
    font-family: cursive;
}

.Nav a {
    color: aliceblue;
}

.Nav a:hover {
    color: rgb(251, 184, 68);
}

.Nav a:visited{
    color:rgb(249, 45, 178);
}

.Nav-item :hover{
    background-color: blue;
    width: 100px;
    height: 25px;
}

.Header-title{
    margin-left: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Page{
margin-top: 20px;
}

.PostList-item{
    margin-top: 60px;
    background-color: rgb(227, 239, 248);
    width: 65%;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
}

.Post{
    margin-top: 50px;
    margin-left: 50px;
    width: 75%;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(227, 239, 248);
    width: 65%;
    padding: 20px;
}

.Page-header{
    background-color: blue;
    margin-left: -20px;
    width: 20%;
    color: aliceblue;
    padding: 10px;
    font-size: 15px;
    position: fixed;
    margin-top: -100px;
}





