body {
    font-family: "source-code-pro", monospace;
    height: 100vh;
    background-color: #c7c7c7;
    display: flex;
  }

  .container {
    position: fixed;
    display: flex;
    top: 90%;
    left: 3%;
  }


  .sentenceone {
    display: none;
    position: absolute;
    bottom: 150%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 200px;
    background-color: #0000ff;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
  }

  .circleone {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
    background-color: #0000ff;
  }

  .circleone:hover + .sentenceone {
    display: block;
  }

  .sentencetwo {
    display: none;
    position: absolute;
   bottom: 550%;
    left: 180%;
    transform: translate(-50%, -50%);
    width: 500px;
    background-color: #fff;
    color: #0000ff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
  }

  .circletwo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
    background-color: #0000ff;
  }

  .circletwo:hover + .sentencetwo {
    display: block;
  }

  .sentencethree {
    display: none;
    position: absolute;
   bottom: 700%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: #3a3a3a;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
  }

  .circlethree{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
    background-color: #ffffff;
  }

  .circlethree:hover + .sentencethree {
    display: block;
  }

  .sentencefour {
    display: none;
    position: absolute;
    bottom: 350%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 200px;
    background-color: #f99615;
    color: #0000ff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
  }

  .circlefour{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
    background-color: #ffffff;
  }

  .circlefour:hover + .sentencefour {
    display: block;
  }

  .sentencefive {
    display: none;
    position: absolute;
    bottom: 900%;
    left: 200%;
    transform: translate(-50%, -50%);
    width: 200px;
    background-color: #0000ff;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 21px;

  }

  .circlefive{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
    background-color: #3a3a3a;
  }

  .circlefive:hover + .sentencefive {
    display:block;
  }

  .sentencesix {
    display: none;
    position: absolute;
    bottom: 550%;
    left: 100%;
    transform: translate(-50%, -50%);
    width: 200px;
    background-color: #fff;
    color: #3a3a3a;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
  }

  .circlesix{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
    background-color: #3a3a3a;
  }

  .circlesix:hover + .sentencesix {
    display:block;
  }

  .sentenceseven {
    display: none;
    position: absolute;
    top: 50%;
    left: 230%;
    transform: translate(-50%, -50%);
    width: 200px;
    background-color: #3a3a3a;
    color: #f99615;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
  }

  .circleseven{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
    background-color: #f99615;
  }

  .circleseven:hover + .sentenceseven {
    display: block;
  }


  .sentenceeight {
    display: none;
    position: absolute;
    bottom: 1130%;
    left: 120%;
    transform: translate(-50%, -50%);
    width: 200px;
    background-color: #3a3a3a;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
  }

  .circleeight{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
    background-color: #ffffff;
  }

  .circleeight:hover + .sentenceeight {
    display: block;
  }

  .sentencenine {
    display: none;
    position: absolute;
    top: 20%;
    left: 180%;
    transform: translate(-50%, -50%);
    width: 260px;
    background-color: #f99615;
    color: #3a3a3a;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
  }

  .circlenine {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
    background-color: #0000ff;
  }

  .circlenine:hover + .sentencenine {
    display: block;
  }

  .subtitile {
    writing-mode: vertical-rl; /* Rotate text 90 degrees clockwise */
    text-orientation: mixed; /* For supporting all browsers */
    white-space: nowrap;
    margin-top: 30px;
    margin-left: 20px;
  }

  .subtitile h4{
    margin: auto;
  }

  .from{
    font-family: "source-code-pro", monospace;
    font-weight: 600;
    font-style: normal;
    font-size: 25px;
    color: #3a3a3a;
  }

  .italic{
    font-family: "source-code-pro", monospace;
    font-weight: 600;
    font-style: italic;
    color: #3a3a3a;
    font-size: 18px;
  }

  .by{
    font-family: "source-code-pro", monospace;
    font-weight: 900;
    font-style: italic;
    color: #3a3a3a;
    font-size: 23px;
    text-decoration: line-through
  }

  .author{
    font-family: "source-code-pro", monospace;
    font-weight: 900;
    font-style: italic;
    color: #f99615;
    font-size: 26px;
    text-decoration: underline;
  }

  .title{
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #0000ff;
    margin-left: 80px;
  }

  h1{
    font-size: 150px;
  }

  h2{
    margin-top: -100px;
    font-size: 120px;
  }

.send{
    position: absolute;
    top: 75%;
    left: 80%;
    font-family: "source-code-pro", monospace;
    font-weight: 900;
    font-style: italic;
    color: #ffffff;
    background-color: #3a3a3a;
    width: 80px;
    height: 40px;
    border-radius: 10%;
    text-align: center;
    box-shadow: 2px 8px 10px #6b6a6a;
}


@media screen and (max-width: 768px) {
  h1{
    margin-top: 300px;
    margin-left: -20px;
    font-size: 50px;
  }

  h2{
    margin-left: -157px;
    margin-top: -30px;
    font-size: 40px;
  }

  .send{
    margin-left: -255px;
    margin-top: -480px;
    width: 40px;
    height: 25px;
    font-size: 10px;
  }

  .from{

    font-size: 15px;
  }

  .italic{
    font-size: 8px;
  }

  .by{
    font-size: 13px;
  }

  .author{
    font-size: 16px;
  }

  .subtitile {
    margin-top: 10px;
    margin-left: 5px;
  }

  .container{
    margin-top: -400px;
    margin-left: -10px;
  }

  .circleone{
    width: 15px;
    height: 15px;
  }

  .circletwo{
    width: 15px;
    height: 15px;
    margin-left: -2px;
  }

  .circlethree{
    width: 15px;
    height: 15px;
    margin-left: -2px;
  }

  .circlefour{
    width: 15px;
    height: 15px;
    margin-left: -2px;
  }

  .circlefive{
    width: 15px;
    height: 15px;
    margin-left: -2px;
  }

  .circlesix{
    width: 15px;
    height: 15px;
    margin-left: -2px;
  }

  .circleseven{
    width: 15px;
    height: 15px;
    margin-left: -2px;
  }

  .circleeight{
    width: 15px;
    height: 15px;
    margin-left: -2px;
  }

  .circlenine{
    width: 15px;
    height: 15px;
    margin-left: -2px;
  }
}